<html>

       <head>

             <title>Gin Rummy </title>


             </head>


       <body>


             <h1> Gin Rummy Home page </h1>







        





                </body>













</html>