<!doctype html>
<html>
    <div className="navbar"> <% include navbar %> </div>
       
<h1> Welcome to the Lobby, <%=username%></h1>


<style>
    .navbar{font-size: 18px;}
    .lobbyBox {display: inline-block; width: 60%; border: 5px solid black; padding: 5%;}
    body { font: 13px Helvetica, Arial;}
    form { background: white; padding: 6px;}
    form input { background: white; border-style: solid; padding: 10px; width: 500px; display: inline-block;}
    form button { background: rgb(130, 224, 255); padding: 10px; display:inline-block; width:100px;}
    #messages {list-style-type: none; text-align: left; padding: 0; width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px;}
    #messages li { padding: 5px 10px;}
    #messages li:nth-child(odd) { background: #eee;}
</style>

<script>
 

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript"> 

$(function() {
    var socket = io();
    $('form').submit(function() { 
          socket.emit('chat message',{val: $('#m').val(), user: "<%=username%>"});
          $('#m').val('');
          return false;
    });
    socket.on('chat message', function(msg) {
        $('#messages').append($('<li>').text(msg));
    });
});
</script>

<div class="lobbyBox">This is going to be the lobby box.</div>

<body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
