<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
    <style>
        body{
            font-size: 20px;
        }
        .container{
            border: 2px solid rgb(58, 58, 58);
            padding: 50px;
            margin: auto;
            width: 60%;
        }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
}
        .registerbtn{
            background-color: rgba(134, 134, 134, 0.39);
            color: rgb(0, 0, 0);
            padding: 16px 20px;
            margin:auto;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.8;
            font-size: 16px;
            
        }        
        .registerbtn:hover{
            opacity: 1;
        }
        .signin{
            margin: auto;
        }
        </style>
</head>

<body>
    <form action="/register" method="POST">
        <div class="container">
            <h1>Register</h1>
            <p>Fill out the form to create an account</p>
           
            <% if (error)  { %>
            <p style="color:red;">Username already exists</p>
            <% } %>



            <div class="textfield">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="password" required>

                <label for="verifyPassword"><b>Verify Password</b></label>
                <input type="text" placeholder="Verify Password" name="verifyPassword" required>

            </div>

            <button type="submit" class="registerbtn">Register</button>

            <div class="signin">
                <p>Already have an account? <a href="#">Sign in</a>


            </div>


    </form>
</body>

</html>