<!DOCTYPE html>
<html>
<head>
    <style>
    .navbar{font-size: 18px;}
    table, th, td{
        border: 2px solid black;
        border-collapse: collapse;
    }
    
    </style>


</head>

<body>
    <div className="navbar"> <% include navbar %> </div>
    <table style="width: 100%">
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
    </tr>

    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>

    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    
    
    
    
    
    </table>

</body>
</html>